/* Please always prepend your stiles with class .main-nav to avoid conflicts */

/* custom colors */
$darkBlue: #171838;
$seaGreen: #6ABBA4;
$offWhite: #FDFFFF;


.main-nav{
    background: $darkBlue;
    .header-topbar{
        background: $seaGreen;
        color: white;
    }
}