/* custom colors */

$darkBlue: #101234;
$seaGreen: #6ABBA4;
$offWhite: #FDFFFF;
$grayish: #CACACA;
$lightYellow: #F9DE8E;
$yellow-200: #F6D169;
$yellow-hover: #F7D260;
$lightPurple: #535589;
$purple: #4044AA;
$deepPurple: #282A62;

/* Overrides for Bootstrap colors */
$theme-colors: (
    "info": $seaGreen,
    "danger": rgb(184, 52, 0),
    "primary": $purple,
    "warning": $yellow-200
);

@import "~bootstrap/scss/bootstrap";

