// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
);

@include _assert-ascending($container-max-widths, "$container-max-widths");


.h-scroll{
    overflow-y: hidden;
    overflow-x: auto;
    & > div {
        width: 1480px;
        padding-left: 20px;
    }
}