@import '../../styles/colors.scss';

.skills-nav {
    background: rgba($offWhite,0.1);
    border: 1px solid rgba(#CACACA,0.1);
    box-sizing: border-box;
    border-radius: 20px 0px 0px 20px;
    font-family: sofia-pro, sans-serif;
    font-style: normal;

    a{
        color: $grayish;
        font-size: 1.25rem;
        line-height: 31px;

        &.active{
            font-weight: bold;
            color: $offWhite;
            text-decoration: underline;
        }
    }
}

.right-container{
    background: #171838;
    border-radius: 10px;
    min-height: 400px;
}

.software-eng-img {
    color: $offWhite;
    background: url('../../images/software-engineering.png') no-repeat center;
    background-size: cover;
    border-radius: 20px 0px 0px 20px;
    &.course-detail{
        border-radius: 10px 0px 0px 10px;
    }
    
    &:before{
        background: rgba($purple,0.2);
        border-radius: 20px 0px 0px 20px;
    }

    .skills-overlay{
        background: rgba($deepPurple,0.5);
        border-radius: 0px 0px 0px 10px;
        &.course-detail{
            height: 35%;
            h3{
                font-size: 32px;
                line-height: 38px;
            }
        }
        h3{
            font-family: neue-haas-grotesk-display, sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 25px;
            line-height: 30px;
            margin-bottom: 1.25rem;
        }

        p{
            font-family: sofia-pro, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 25px;
            &.skills-overlay-salary{
                font-weight: bold;
                font-size: 20px;
                line-height: 31px;
            }
        }
    }

}
.right-column{
    font-family: sofia-pro, sans-serif;
    border-radius: 0 20px 20px 0;
    .title{
        color: $lightYellow;
    }
    p{
        color: $offWhite;
    }

    &.course-detail{
        background: $offWhite;
        padding: 2rem 3rem;
        border-radius: 0 10px 10px 0;
        p,.title{
            color: black;
        }

        button {
            min-width: 115px;
            
            &.btn-warning,
            &.btn-warning:not(:disabled):not(.disabled):active, 
            &.btn-warning:not(:disabled):not(.disabled).active, 
            .show > .btn-warning.dropdown-toggle{
                color: white;
                background: $purple;
                border-color: $purple;
            }
            &.btn-outline-warning{
                color: $purple;
                border-color: $purple;
                background: white;
                &:hover{
                    color: white;
                    background: $purple;
                }
            }
        }

        .close-icon {
            right: 1.15rem;
            top: 1.15rem;
            color: #8F8F8F;
            cursor: pointer;
            &.svg-inline--fa.fa-w-10{
                font-size: 1.5rem;
            }
        }
    }

}

.modal-dialog{
    margin: auto;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    .modal-content{
        padding: 4rem 1rem 2rem 1rem;
        max-width: 500px;
    }
    
    &.sent .modal-content{
        min-height: unset;
        padding: 4rem 1.5rem 2.5rem 1.5rem;
        display: flex;
        text-align: center;

        .modal-title{
            margin-bottom: 0;
        }

        .modal-body{
            padding-bottom: 0;
            display: flex;
            height: 100%;
            font-family: sofia-pro,sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 25px;
            button{
                font-family: sofia-pro,sans-serif;
                font-weight: bold;
                font-size: 16px;
                line-height: 25px;
                justify-self: flex-end;
                align-self: flex-end;
                bottom: 4rem;
                min-width: 375px;
                background: $purple;
            }
        }

        
    }
}

.modal-content{
    padding: 3rem;
    position: relative;
    min-height: 600px;
    width: 500px;
    font-style: normal;
    

    .modal-title{
        font-family: neue-haas-grotesk-display-pro,sans-serif;
        font-size: 24px;
        line-height: 29px;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .light-purple{
        color: rgba($purple,0.5)
    }
    .modal-body{
        font-family: sofia-pro, sans-serif;
        font-weight: bold;
        font-size: 16px;
        line-height: 25px;
        color: $darkBlue;
        form{
            .text-muted{
                color: rgba($darkBlue,.3) !important;
            }
            
            .btn.btn-primary{
                background-color: $purple;
            }
        }
    }
    
    &>.close-icon {
        right: 1.15rem;
        top: 1.15rem;
        color: #8F8F8F;
        &.svg-inline--fa.fa-w-10{
            font-size: 1.5rem;
        }
    }
}