    .job-search{
        height: auto;
        min-height: auto;
        background: $yellow-200;
        padding: 80px 0px;
        h2{
            font-weight: bold;
            font-family: Neue Haas Grotesk Display Pro;
            font-size: 50px;
            line-height: 77px;
        }
        h3{
            color: $deepPurple;
            font-family: Neue Haas Grotesk Display Pro;
            font-weight: bold;
        }
    }