    .explore-jobs {
        background: url("../images/JobsBg.png") white no-repeat;
        background-size: cover;
        padding: 60px 0px 80px 0px;
        overflow: hidden;
        min-height: auto;

        .mb-3 {
            margin-bottom: 0rem !important;
        }

        .h1, h1.exjoTitle {
            font-weight: bold;
            font-size: 59px;
            line-height: 77px;
            color: #282A62;
            letter-spacing: -3px;
        }

        h1 span {
            color: #6abba4;
        }

        h2.exjoSub {
            font-weight: 300;
            font-size: 32px;
            line-height: 36px;
            color: #282A62;
        }

        .buttonGreen {
            background-color: #7CE6C8;
        }

        .buttonBlue {
            background-color: #4044AA;
        }

        .buttonYellow {
            background-color: #F9DE8E;
        }

        .btn-info {
            color: #FDFFFF;
            background-color: #6ABBA4;
            border-color: #6ABBA4;
            margin-top: 9px;
            margin-bottom: 9px;
        }

        .btn-primary {
            color: #FDFFFF;
            background-color: #282A62;
            border-color: #282A62;
            margin-top: 9px;
            margin-bottom: 9px;
        }

        .btn-warning {
            color: #FDFFFF;
            background-color: #E1BB44;
            border-color: #E1BB44;
            margin-top: 9px;
            margin-bottom: 9px;
        }

        .btn {
            border-radius: 18px;
        }

        .btn-info:not(:disabled):not(.disabled):active:focus {
            box-shadow: 0 0 0 0.2rem rgba(58,176,195,.5);
        }

        .btn-info:focus {
            box-shadow: 0 0 0 0.2rem rgba(58,176,195,.5);
        }

        .btn-info:not(:disabled):not(.disabled):active {
            color: #FDFFFF;
            background-color: #117a8b;
            border-color: #10707f;
        }

        .h-scroll .h-scroll-inner {
            width: 5000px;
        }
    }

@media (max-width: 600px) {
    .explore-jobs {
        background-size: contain;

        .exjob {
            margin-top: 0px;
        }

        h1.exjoTitle {
            font-size: 2.2rem;
        }

        h2.exjoSub {
            font-size: 1.125rem
        }
    }
}

@media (max-width: 720px) {
    .explore-jobs {
        background-size: contain;

        .exjob {
            margin-top: 0px;
        }
    }
}

@media (max-width: 920px) {
    .explore-jobs {
        background-size: contain;

        .exjob {
            margin-top: 35px;
        }
    }
}

@media (max-width: 1080px) {
    .explore-jobs {
        background-size: contain;
        background-color: #FDFFFF;

        .exjob {
            margin-top: 75px;
        }
    }
}