     .career-coaching {
        background: url("../images/CoachingBg.png") no-repeat;
        background-size: cover;
        min-height: initial;
        padding: 60px 0px 0px 0px;

        .coachingSec {
            padding-top: 50px;
        }

        h1.coachTitle {
            font-weight: bold;
            font-size: 59px;
            line-height: 77px;
            color: white;
            letter-spacing: -3px;
        }

        h1.coachTitle span {
            color: #282A62;
        }
        
        h3 span {
            color: #7CE6C8;
        }

        h2.coachSub {
            font-weight: 300;
            font-size: 32px;
            line-height: 36px;
            color: white;
        }

        .col-md-6.bubbleSec {
            margin-top: 100px;
        }
        
        .col-md-6.descSec {
            margin-top: 100px;
        }

        h3 {
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            line-height: 48px;
            color: #FDFFFF;
        }
        .two-types-of-coaching{
            background: $darkGreen;
            margin-top: 100px;
            .row{
                background: $darkGreen;
            }
            .left-coaching{
                background: $darkGreen;
                .left-line-flare{display: none;}
                @media screen and (min-width: 768px){
                    .left-line-flare{display: block;}
                    
                    border-top-right-radius: 10px;
                    border-top: 8px solid $deepPurple;
                    box-shadow: 15px -15px 0px -10px $darkSeaGreen;
                    .left-line-flare{
                        position: absolute;
                        right: 0;
                        top: 0;
                        bottom: 50%;
                        width: 8px;
                        background: $deepPurple;
                        border-bottom-left-radius: 10px;
                    }
                }
                h3{
                    color: #7CE6C8;
                }
                .btn{
                    background: #6ABBA4;
                    border: #6ABBA4;
                }
            }
            .right-coaching,.left-coaching{
                padding: 3rem 6rem;
                .bottom{
                    position: absolute;
                    bottom: 30px;
                    z-index: 2;
                }
            }
            .right-coaching{
                position: relative;
                background: $darkSeaGreen;
                border-bottom-left-radius: 10px;

                h3{
                     color: #282A62;
                }
                
                .btn{
                    background: #282A62;
                }
                .right-line-flare,.right-dot-flare{display: none;}
                @media screen and (min-width: 768px){
                    .right-line-flare,.right-dot-flare{display: block;}
                    .right-line-flare{
                        position: absolute;
                        left: 0;
                        top: calc(50% - 4px);
                        height: 8px;
                        width: 40px;
                        background: $deepPurple;
                    }
                    .right-dot-flare{
                        height: 25px;
                        width: 25px;
                        border-radius: 50%;
                        background: $deepPurple;
                        position: absolute;
                        right: -5px;
                        top: -10px;
                    }
                }
            }
        }

        p.text-left {
            color: #FDFFFF;
        }
    }

@media (max-width: 600px) {
    .career-coaching {
        background-size: contain;
        background-color: #6ABBA4;

        .exjob {
            margin-top: 0px;
        }

        .col-md-6.bubbleSec {
            margin-top: 0px;
        }

        h1.coachTitle {
            font-size: 2.1rem;
            margin-bottom: 0px !important;
        }

        h2.coachSub {
            font-size: 1.125rem
        }

    }
}

@media (max-width: 720px) {
    .career-coaching {
        background-size: contain;
        background-color: #6ABBA4;

        .exjob {
            margin-top: 0px;
        }
        .two-types-of-coaching{
            .left-coaching{
                border-top-right-radius: 0px;
            }
            .right-coaching{
                &::after{
                    border-bottom-left-radius: 0px;
                    border-bottom-right-radius: 0px;
                }
            }
        }
    }
}

@media (max-width: 920px) {
    .career-coaching {
        background-size: contain;
        background-color: #6ABBA4;

        .exjob {
            margin-top: 35px;
        }
    }
}

@media (max-width: 1080px) {
    .career-coaching {
        background-size: contain;
        background-color: #6ABBA4;

        .exjob {
            margin-top: 75px;
        }

        .coachingSec {
            padding-top: 25px;
            padding-bottom: 25px;
        }

        .col-md-6.descSec {
            margin-top: 50px;
        }
    }
}