     .career-coaching {
        background: url("../images/CoachingBg.png") no-repeat;
        background-size: cover;
        display: flex;
        // padding: 20px 0px;
        min-height: 90vh;

        .coachingSec {
            padding-top: 50px;
        }

        h1.coachTitle {
            font-weight: bold;
            font-size: 59px;
            line-height: 77px;
            color: white;
            letter-spacing: -3px;
        }

        h1.coachTitle span {
            color: #282A62;
        }
        
        h3 span {
            color: #7CE6C8;
        }

        h2.coachSub {
            font-weight: 300;
            font-size: 32px;
            line-height: 36px;
            color: white;
        }

        .col-md-6.bubbleSec {
            margin-top: 100px;
        }
        
        .col-md-6.descSec {
            margin-top: 100px;
        }

        h3 {
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            line-height: 48px;
            color: #FDFFFF;
        }

        p.text-left {
            color: #FDFFFF;
        }
    }

@media (max-width: 600px) {
    .career-coaching {
        background-size: contain;
        background-color: #6ABBA4;

        .exjob {
            margin-top: 0px;
        }

        .col-md-6.bubbleSec {
            margin-top: 0px;
        }

        h1.coachTitle {
            font-size: 2.1rem;
            margin-bottom: 0px !important;
        }

        h2.coachSub {
            font-size: 1.125rem
        }
    }
}

@media (max-width: 720px) {
    .career-coaching {
        background-size: contain;
        background-color: #6ABBA4;

        .exjob {
            margin-top: 0px;
        }
    }
}

@media (max-width: 920px) {
    .career-coaching {
        background-size: contain;
        background-color: #6ABBA4;

        .exjob {
            margin-top: 35px;
        }
    }
}

@media (max-width: 1080px) {
    .career-coaching {
        background-size: contain;
        background-color: #6ABBA4;

        .exjob {
            margin-top: 75px;
        }

        .coachingSec {
            padding-top: 25px;
            padding-bottom: 25px;
        }

        .col-md-6.descSec {
            margin-top: 50px;
        }
    }
}