    .section-events {
        background: url("../images/EventsBg.png") no-repeat;
        background-size: cover;
        display: flex;
        padding: 40px 0px;

        .eventContainer {
            padding-top: 66px;
        }

        h1.eventTitle {
            font-weight: bold;
            font-size: 59px;
            line-height: 77px;
            color: #282A62;
            letter-spacing: -3px;
        }

        h1.eventTitle span {
            color: #4044AA;
        }

        h2.eventSub {
            font-weight: 300;
            font-size: 32px;
            line-height: 36px;
            color: #4044AA;
        }

        .workshopRow {
            margin-top: 6rem;
            margin-bottom: 1rem !important;
        }

        .workshopTitle {
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            text-transform: uppercase;
            color: #4044AA;
            opacity: 0.75;
        }

        .h-scroll {
            overflow-y: hidden;
            overflow-x: auto;
            .h-scroll-inner {
                width: 8000px;
                height: 400px;
                display: flex;
                flex-wrap: wrap;
            }
        }
    }

@media (max-width: 600px) {
    .section-events {
        background-size: contain;
        background-color: #F9DE8E;

        .exjob {
            margin-top: 0px;
        }

        h1.eventTitle {
            font-size: 2.25rem;
            margin-bottom: 0px !important;
        }

        h2.eventSub {
            font-size: 1.125rem
        }
    }
}

@media (max-width: 720px) {
    .section-events {
        background-size: contain;
        background-color: #F9DE8E;

        .exjob {
            margin-top: 0px;
        }
    }
}

@media (max-width: 920px) {
    .section-events {
        background-size: contain;
        background-color: #F9DE8E;

        .exjob {
            margin-top: 35px;
        }
    }
}

@media (max-width: 1080px) {
    .section-events {
        background-size: contain;
        background-color: #F9DE8E;

        .exjob {
            margin-top: 75px;
        }
    }
}