@import '../../colors.scss';
/* Please always prepend your styles with .footer to avoid conflicts */

.footer{
    max-height: auto;
    font-size: 16px;
    font-family: sofia-pro, sans-serif;
    background: $deepPurple;
    .made-miami{
        font-size: 20px;
        font-weight: 800px;
        font-family: sofia-pro, sans-serif;
    } 
}