@import '../../styles/colors.scss';

.course-card{
    border: none !important;
    >.lazyload-wrapper{
        height: 50%;
    }
    .purple{
        color: $purple;
    }
    .card-body{
        padding: 1rem;
    }
    .card-img-top{
        object-fit: cover;
        -o-object-fit: cover;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    .title {
        color: $darkBlue;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .logo-row,.button-row{min-height: 30%;}
    .text-row{min-height: 40%;}
    .btn{
        @extend .purple;
        border-color: $purple;
        border-width: 2px;
        &:hover{
            background-color: $purple;
            color: $offWhite;
        }
    }

    .skills-provider-logo{
        height: 50px;
        width: auto;
        object-fit: contain;
        max-width: 100%;
    }

    &.mobile {
        border: none  !important;
        border-radius: 10px;

        .lazyload-wrapper{
            height: 100%;
        }
        .card-img-top{
            border-radius: 10px 0 0 10px;
        }
        .text-overlay{
            background: rgba($darkBlue, .5);
            bottom: 0;
            max-width: 100%;
            padding: 1rem;
            
            .title {
                font-family: neue-haas-grotesk-display-pro,sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 1rem;
                line-height: 19px;
                white-space: normal;
            }
            .card-text{
                font-family: sofia-pro,sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 1rem;
                line-height: 19px;
            }
        }
    }
}