@import '../../colors.scss';

.course-card{
    border: 0;
    .purple{
        color: $purple;
    }
    .card-body{
        padding: 1rem;
    }
    .card-img-top{
        object-fit: cover;
    }
    .title {
        color: $darkBlue;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .logo-row,.button-row{min-height: 30%;}
    .text-row{min-height: 40%;}
    .btn{
        @extend .purple;
        border-color: $purple;
        border-width: 2px;
        &:hover{
            background-color: $purple;
            color: $offWhite;
        }
    }

    &.mobile {
        border: none;
        border-radius: 10px;
        .card-img-top{
            border-radius: 10px 0 0 10px;
        }
        .text-overlay{
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
}