/* custom colors */

$darkBlue: #171838;
$seaGreen: #6ABBA4;
$offWhite: #FDFFFF;


/* navbar */

.navbar-dark .navbar-nav {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    .nav-link{
        color: $offWhite;
    }
}


/* Homepage */

.home{
    .home-hero{
        position: relative;
        background: $darkBlue;
        color: $offWhite;
        .motherboard-left{
            position: absolute;
            bottom: 0;
            left: 0;
            background: url('./images/motherboard-left.png');
        }
        .motherboard-right{
            position: absolute;
            bottom: 0;
            right: 0;
            background: url('./images/motherboard-right.png');
        }
    }
}