@import './colors.scss';

/* Set all the Page and Global styles here */
/* Homepage */

.home{
    section {
        min-height: 850px;
    }

    .home-hero{
        background: $darkBlue url('./images/hero-bg-mobile.png') no-repeat;

        @media screen and (min-width: 990px){
            background: $darkBlue url('./images/hero-bg.png') no-repeat;  
            background-size: 100% 100%;  
        }

        background-size: 100%; 
        color: $offWhite;
        
        height: 100%;
        width: 100%;

        h1,h2 {
            font-family: neue-haas-grotesk-display, sans-serif;
            font-style: normal;
            font-weight: bold;
        }

        h1 {
            font-size: 64px;
            line-height: 77px;
        }

        h2 {
            font-size: 32px;
            line-height: 38px;
            color: $lightYellow;
        }

        h3 {
            font-size: 25px;
            line-height: 29px;
        }

        .row:not(.feature-row){
            padding-top: 5vh;
            padding-bottom: 8vh;
        }
    }

    .key-skills{
        background: $darkBlue url('./images/skills-bg.png') top left no-repeat;
        background-size: cover;

        h2{
            font-weight: bold;
            font-size: 64px;
            line-height: 77px;
        }

        .skills-nav {
            background: rgba(#F8FAFA,0.1);
            border: 1px solid rgba(#CACACA,0.1);
            box-sizing: border-box;
            border-radius: 20px 0px 0px 20px;

            a{
                color: #CACACA;
                font-family: Sofia Pro;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 31px;

                &.active{
                    color: #FDFFFF;
                    font-size: 20px;
                    line-height: 31px;
                    text-decoration: underline;
                }
            }
        }


        .software-eng-img {
            color: white;
            background: url('./images/software-engineering.png') no-repeat center;
            background-size: cover;
            border-radius: 20px 0px 0px 20px;
            
            &:before{
                background: rgba(#4044AA,0.2);
                border-radius: 20px 0px 0px 20px;
            }

            .skills-overlay{
                background: rgba(#282A62,0.5);
                border-radius: 0px 0px 0px 20px;

                h3{
                    font-size: 25px;
                    line-height: 30px;
                }

                p{
                    font-family: Sofia Pro;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 25px;
                    &.skills-overlay-salary{
                        font-weight: bold;
                        font-size: 20px;
                        line-height: 31px;
                    }
                }
            }
        }
    }
}